.barnav {
    width: 100%;
    height: 140px;
    color: #fff;
}

.barnav .logo {
    margin-left: 60px;
    width: 40%;
    float: left;
}

.barnav .links {
    width: 50%;
    margin-left: 100px;
    margin-top: 55px; 
    display: inline-block;
}

.barnav .links a {
    margin-left: 40px;
    padding: 20px;
    font-size: 30px;
    color: #fff;
}

.barnav .links a::after {
    color: #fff;
}
