body .general {
    margin: 0;
    padding: 0;
    background-image: url('../img/imageBackground.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

main .definition-section {
    color: #fff;
}