.up-part {
    margin-top: 30px;
}

.up-part .image-container {
    width: 100%;
}

.up-part .image-container .photo-main {
    width: 300px;
    border-radius: 100%;
    border: solid 3px #818181;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.up-part .social-network {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.up-part .social-network .link-socialNetwork {
    display: inline-block;
    margin: 20px;
    border: 3px solid #fff;
    padding: 15px;
    border-radius: 100%;
    color: #fff;
}

.middle-part {
    background: #252525;
    text-align: center;
}

.middle-part .title-aboutme {
    text-align: center;
    font-size: 45px;
    font-family: monospace;
}

.middle-part .information {
    font-family: monospace;
    font-size: 25px;
    margin-top: 10px;
    width: 1150px;
}

.lower-part .title-interests {
    text-align: center;
    font-size: 45px;
    font-family: monospace;
    margin-top: 25px;
    margin-bottom: 15px;
}

.lower-part .description {
    display: none;
}

.lower-part .cards {
    background-color: #414141;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px #fff solid;
    text-align: center;
}

.lower-part .cards .icon {
    margin-top: 25px;
}

.lower-part .downloadButton {
    width: 250px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.lower-part .downloadButton .button {
    width: 150px;
    display: block;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

/* here begins the animation hover for css*/
