footer {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 20px;
    
}

footer .github,
    .facebook, 
    .instagram,
    .twitter{
    display: inline-block;
    width: 95px;
    height: 95px;
    margin-left: 10px;
    text-align: center;
}

.instagram .fa-instagram {
    display: inline-block;
    color: #fff;
}

.facebook .fa-facebook {
    display: inline-block;
    color: #fff;
}

.github .fa-github {
    display: inline-block;
    color: #fff;
}

.twitter .fa-twitter {
    display: inline-block;
    color: #fff;
}

.fab {
    font-size: 95px;
}

.linkedin .fa-linkedin {
    display: inline-block;
    color: #fff;
}
