.cards {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.cards .card {
    width: 100%;
    height: auto;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.cards .card h3 {
    font-family: arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #f3f3f3;
}

.cards .card .workpage {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.cards .card img {
    width: 700px;
    height: auto;
    opacity: 0.5;
}

.cards .card img:hover {
    opacity: 1;
}

.cards .card .description {
    width: 70%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.cards .card .description p {
    font-family: 'Montserrat';
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.cards .card .languages {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cards .card .languages .language, p {
    display: inline-block;
    margin-right: 5px;
    font-family: "Roboto";
    font-size: 30px;
}

.cards .card .languages i {
    display: inline-block;
    font-size: 50px;
}

.cards .card .link {
    width: 70%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.cards .card .link .direct-link {
    display: inline-block;
    margin-right: 15px;
    width: auto;
    height: auto;
    text-align: center;
    color: #fff;
}
