.experiencie {
    width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 5px 10px;
}

.experiencie .title {
    margin-top: 5px;
    padding: 5px;
    text-align: center;
}

.experiencie .title h2 {
    font-size: 60px;
    font-family: 'Montserrat';
}

.experiencie .languages {
    margin-top: -20px;
    padding: 10px;
    text-align: center;
}

.experiencie i {
    font-size: 40px;
}

.experiencie .fa-html5 {
    color: red;
}

.experiencie .fa-css3-alt {
    color: blue;
}

.experiencie .fa-js {
    color: #ffff00;
}

.experiencie .family-containers {
    display: inline-block;
    width: 85px;
}

.experiencie .dates {
    text-align: center;
}

.experiencie .dates .start-date,
.end-date,
.to{
    display: inline-block;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-bottom: 13px;
}

.experiencie .position {
    font-family: 'Montserrat';
    font-size:20px;
    font-weight: bold;
    text-align: center;
}
