.navbar-body .image-link-div {
    display: inline-block;
    width: 700px;
}

.image-link-div .image-link {
    width: 700px;
}

.navbar-body .links {
    width: 950px;
    display: inline-block;
    margin-left: 40px;
}

.navbar-body .links a {
    display: inline-block;
    margin: 30px;
    font-size: 50px;
    color: #fff;
    position: relative;
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
}
